/* Rietveld has buttons from the 80s*/
.button {
  /*position: relative;
  display: inline-block;*/
  background-color: #fcfcfc;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-repeat: repeat-x;
  border-radius: 3px;
  border: 1px solid #d5d5d5;
  color: #333;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  margin-right: 10px;
  padding: 6px;
  text-shadow: 0 1px 0 #fff;
  vertical-align: middle;
}

.button:hover {
  background-image: -webkit-linear-gradient(#eee, #d5d5d5);
}

.button:active {
  background-image: -webkit-linear-gradient(#c9c9c9, #dedede);
}

.camera-icon {
  background: -webkit-image-set(
      url('chrome-extension://__MSG_@@extension_id__/camera-icon-1x.png') 1x,
      url('chrome-extension://__MSG_@@extension_id__/camera-icon-2x.png') 2x)
      no-repeat;
  padding-left: 20px;
}

.button:focus {
  outline: none;
}

video {
  display: inline-block;
  float: left;
  width: 120px;
  margin-left: 20px;
  z-index: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.selfieVideoContainer {
display: inline-block;
width: 250px;  /* 2 *120px for each video + 10px padding */
vertical-align: top;
margin-right: 10px;
}

.hideSelfieVideo {
  display: none;
}

canvas .hidden {
  display: none;
}

.selfieVideoOverlay {
 position: absolute;
 top:0;
 left:0;
 margin-top:50px;
 margin-left:10px;
 z-index:10;
}

#selfieCanvas {
  margin-left: 10px;
  width: 120px;
}

.selfieProgress {
  height:2px;
  width:0px;
  background-color: red;
  margin-top: -10px;
  margin-bottom: 10px;
}

.counter-container {
  padding-left: 40px;
  float: left;
  position: absolute;
}

.count {
  position: relative;
  float: left;
  z-index: 999;
  margin-top: 0px;
  font-size: 75px;
  text-shadow: -1px -1px 1px #999, 1px 1px 1px #222;
  color: #fff;
}
